@model IEnumerable<BakedRaspberryPi.Models.Pi>

@{
    ViewBag.Title = "Pick a Pi";
}

@using (Html.BeginForm())
{
    <div class="stickyUnderNavBar">
        <input type="submit" class="btn btn-primary" value="Add this to your baked Pi" />
        <!--TODO make the button below add a null Pi to the current whole Pi-->
        <input type="submit" class="btn btn-default" value="No thank you. I don't want any Pi.'" />
    </div>

    <div class="row">
        @foreach (var pi in Model)
        {
            <div class="col-xs-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-1">
                            @{
                                string radioId = "r" + pi.Id.ToString();
                            }
                            @Html.RadioButton("value", pi.Id, new { id = radioId })
                        </div>
                            <div class="col-xs-4">
                                <label for="@radioId">
                                    <img src="@pi.Image" class="img-responsive" />
                                </label>
                                </div>
                            <div class="col-xs-7">
                                <label for="@radioId">
                                <h2>@pi.Model</h2>
                                </label>
                                <hr />
                                <p>@pi.Description</p>
                                <hr />
                                <p>@pi.Price</p>
                            </div>
                    </div>
                </div>
            </div>
        }
    </div>
}