<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/raspberry2.png" alt="Raspberry Pi" class="navbar-brand" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Baked Raspberry Pis", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @User.Identity.Name
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <ul class="dropdown-menu userDropDownList">
                            <li class="userDropDownListItem">
                                <a href="@Url.Action("SignOut", "Account")">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                            <li class="userDropDownListItem">
                                <a href="@Url.Action("Index", "Account")">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span>Account</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Register", "Account")">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>Register</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SignIn", "Account")">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span>Sign In</span>
                        </a>
                    </li>

                }

            </ul>
        </div>
    </div>
</div>