@model IEnumerable<BakedRaspberryPi.Models.OS>

@{
    ViewBag.Title = "Fill Your Pi";
}

@using (Html.BeginForm())
{
    @Html.Partial("_currentPiWidget")

    <div class="row">
        @foreach (var os in Model)
        {

            if (os.Name != "NONE")
            {
                <div class="col-xs-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-1">
                                @{
                                    string radioId = "r" + os.OSId.ToString();

                                    if (os.IsEdit == true)
                                    {
                                        @Html.RadioButton("value", os.OSId, new { id = radioId, @checked = "checked" })
                                    }
                                    else
                                    {
                                        @Html.RadioButton("value", os.OSId, new { id = radioId })
                                    }
                                }
                                
                            </div>
                            <div class="col-xs-4">
                                <label for="@radioId">
                                    <img src="@os.Image" class="img-responsive" />
                                </label>
                            </div>
                            <div class="col-xs-7">
                                <label for="@radioId">
                                    <span class="labelProductName">@os.Name</span>
                                </label>
                                <p>@os.Description</p>
                                <p>$@os.Price install fee</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

         }
    </div>
}



