@model IEnumerable<BakedRaspberryPi.Models.OS>

@{
    ViewBag.Title = "Fill Your Pi";
}

@using (Html.BeginForm())
{
    <div class="stickyUnderNavBar">
        <input type="submit" class="btn btn-primary" value="Add this to your baked Pi" />
        <!--TODO make the button below add a null OS to the current whole Pi-->
        <input type="submit" class="btn btn-default" value="No filling in my Pi, thank you.'" />
    </div>

    <div class="row">
        @foreach (var os in Model)
        {
            <div class="col-xs-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-1">
                            @{
                                string radioId = "r" + os.Id;
                            }
                            <input type="radio" name="group1" id="@radioId" value="@os.Id" />
                        </div>
                        <div class="col-xs-4">
                            <label for="@radioId">
                                <img src="@os.Image" class="img-responsive" />
                            </label>
                        </div>
                        <div class="col-xs-7">
                            <label for="@radioId">
                                <h2>@os.Name</h2>
                                </label>
                                <p>@os.Description</p>
                            </div>
                    </div>
                </div>
            </div>
         }
    </div>
}