@model BakedRaspberryPi.Models.Order

@{
    ViewBag.Title = "Details";
    
    var theOrder = Model;
    var theOrderTotalNumber = (theOrder.SubTotal + theOrder.Tax + theOrder.ShippingAndHandling);
    var theOrderTotal = theOrderTotalNumber.ToString("C");

}


<div class="container addTopMargin">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="assembledPiPanel">

                <h2>Order #@theOrder.TrackingNumber</h2>
                <h4> Purchased: @theOrder.DateCreated</h4>
                <hr />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Email:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrder.Email</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Shipping To:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrder.PurchaserName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels"></span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrder.ShippingAddress1</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels"></span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrder.ShippingCity, @theOrder.ShippingState @theOrder.ShippingPostalCode</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Subtotal:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrder.SubTotal.ToString("C")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">S&H:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrder.ShippingAndHandling.ToString("C")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Tax:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrder.Tax.ToString("C")</span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">TOTAL:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderTotal</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Paid with CC:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrder.CCType: @theOrder.MaskedCC</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <p>Please save this information for your records. A receipt will also be E-mailed to the address on record.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

