@model BakedRaspberryPi.Models.Order

@{
    ViewBag.Title = "Details";
    
    var theOrder = Model;
    var theOrderTrackingNumber = theOrder.TrackingNumber;
    var theOrderEmail = theOrder.Email;
    var theOrderPurchaserName = theOrder.PurchaserName;
    var theOrderShippingAddress = theOrder.ShippingAddress1;
    var theOrderShippingCity = theOrder.ShippingCity;
    var theOrderShippingState = theOrder.ShippingState;
    var theOrderShippingPostalCode = theOrder.ShippingPostalCode;
    var theOrderSubtotal = (theOrder.SubTotal).ToString("C");
    var theOrderTax = (theOrder.Tax).ToString("C");
    var theOrderShippingAndHandling = (theOrder.ShippingAndHandling).ToString("C");
    var theOrderTotalNumber = (theOrder.SubTotal + theOrder.Tax + theOrder.ShippingAndHandling);
    var theOrderTotal = theOrderTotalNumber.ToString("C");
    var theOrderDateCreated = theOrder.DateCreated;

}


<div class="container addTopMargin">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="assembledPiPanel">

                <h2>Order #@theOrderTrackingNumber</h2>
                <h4> Purchased: @theOrderDateCreated</h4>
                <hr />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Email:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderEmail</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Shipping To:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderPurchaserName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels"></span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderShippingAddress</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels"></span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderShippingCity, @theOrderShippingState @theOrderShippingPostalCode</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Subtotal:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrderSubtotal</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">S&H:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrderShippingAndHandling</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">Tax:</span>
                    </div>
                    <div class="col-sm-8">
                        <span>@theOrderTax</span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <span class="recieptLabels">TOTAL:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="recieptDetails">@theOrderTotal</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <p>Please save this information for your records. A receipt will also be E-mailed to the address on record.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

